<h1>Song Details</h1>
<ul>

  <li><%= @song.title %></li>
  <li><%= @song.id %></li>
  <li><%= @song.released%></li>
  <li><%= @song.release_year%></li>
  <li><%= @song.artist_name %></li>
  <li><%= @song.genre %></li>
  <li><%= @song.updated_at %></li>
  <li><%= @song.created_at %></li>
</ul>

<%= form_tag(song_path(@song), method: "delete") do %>
  <%= submit_tag("Delete") %>
<% end %>
